DATABASE_PATH=data/remibelle.db
GOOGLE_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
X_BEARER_TOKEN=
ENABLE_PAID_X_API=false
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_USER_ID=
INSTAGRAM_GRAPH_API_VERSION=v25.0
INSTAGRAM_HASHTAGS=アイドル志望,アイドルオーディション,元アイドル,被写体,コンカフェ
RADAR_TIMEZONE=Asia/Tokyo
PUBLIC_PROFILE_SEEDS=seeds/public_profiles.json
REQUEST_TIMEOUT_SECONDS=20
MAX_RESULTS_PER_RADAR=30
